<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="#{farms.header.title}"></title>
<link rel="icon" href="/static/images/favicon.ico/">
<!-- CSS FILES -->
<link rel="stylesheet" data-th-href="@{/webjars/uikit/3.1.5/dist/css/uikit.min.css}" />
<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
<!-- JS FILES -->
<script data-th-src="@{/webjars/uikit/3.1.5/dist/js/uikit.min.js}"></script>
<script data-th-src="@{/webjars/uikit/3.1.5/dist/js/uikit-icons.min.js}"></script>
<script data-th-src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script data-th-src="@{/webjars/jquery-validation/1.17.0-1/jquery.validate.min.js}"></script>
</head>

<script th:inline="javascript">
/*<![CDATA[*/
    var createdMessage = [[#{farms.alarm.created}]];
    var updatedMessage = [[#{farms.alarm.updated}]];
    var deletedMessage = [[#{farms.alarm.deleted}]];
    var emptyMessage = [[#{farms.alarm.empty}]];
/*]]>*/
</script>
<script type="text/javascript">
$(document)
.ready(
    function() {
        //window.history.pushState({}, document.title, "/clients");
        var status = $("#status").val();
        var errorDesc = $("#errorDesc").val();
        console.log("status: " + status);
        console.log("error: " + errorDesc);
        if (status == "edit") {
            UIkit.modal('#modal-form-edit', {
                modal: false,
                keyboard: false,
                bgclose: false,
                center: true
            }).show();
        }
        if (status == "view") {
            UIkit.modal('#modal-form-view', {
                modal: false,
                keyboard: false,
                bgclose: false,
                center: true
            }).show();
        } else if (status == "created") {
            $("#table-data")
                .before(
                    '<div id="item-created" class="uk-alert-success" uk-alert><a class="uk-alert-close" uk-close></a><p>' + createdMessage + '</p></div>');
        } else if (status == "updated") {
            $("#table-data")
                .before(
                    '<div id="item-updated" class="uk-alert-success" uk-alert><a class="uk-alert-close" uk-close></a><p>' + updatedMessage + '</p></div>');
        } else if (status == "deleted") {
            $("#table-data")
                .before(
                    '<div id="item-deleted" class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>' + deletedMessage + '</p></div>');
        } else if (status == "empty") {
            $("#table-data")
                .before(
                    '<div id="item-empty" class="uk-alert-primary" uk-alert><a class="uk-alert-close" uk-close></a><p>' + emptyMessage + '</p></div>');
        } else if (status == "error") {
            $("#table-data")
                .before(
                    '<div id="item-deleted" class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>ERROR: ' + errorDesc + '</p></div>');
        }
    });
</script>

<body>

	<!--HEADER-->
	<div th:replace="fragments/header :: header"></div>
	<!--/HEADER-->
	<!-- LEFT BAR -->
	<div th:replace="fragments/left-bar :: left-bar"></div>
	<!-- /LEFT BAR -->
	<!-- CONTENT -->
	<div id="content" data-uk-height-viewport="expand: true">
		<div class="uk-container uk-container-expand">
			<div>
				<div id="table-data">
					<h3 class="uk-heading-line uk-text-bold">
						<span th:text="#{farms.title}"></span>
					</h3>
					<p>
						<a class="uk-button uk-button-default" href="#modal-form" uk-toggle><span data-uk-icon="icon: plus-circle"
							class="uk-margin-small-right"></span><span th:text="#{farms.addNew}"></span></a>
					</p>
					<table id="farms-table" class="uk-table uk-table-hover uk-table-striped uk-table-small">
						<thead>
							<tr>
								<th th:text="#{farms.table.farmId}"></th>
								<th th:text="#{farms.table.clientName}"></th>
								<th th:text="#{farms.table.address}"></th>
								<th th:text="#{farms.table.province}"></th>
								<th th:text="#{farms.table.city}"></th>
								<th th:text="#{farms.table.postalCode}"></th>
								<th th:text="#{farms.table.country}"></th>
								<th th:text="#{farms.table.contactPhone}"></th>
								<th th:text="#{farms.table.contactName}"></th>
								<th th:text="#{farms.table.noSandach}"></th>
								<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
								<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
								<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="farm : ${farms}">
								<td th:text="${farm.id}"></td>
								<td th:text="${farm.clientId.name}"></td>
								<td th:text="${farm.address}"></td>
								<td th:text="${farm.province}"></td>
								<td th:text="${farm.city}"></td>
								<td th:text="${farm.postalCode}"></td>
								<td th:text="${farm.country}"></td>
								<td th:text="${farm.contactPhone}"></td>
								<td th:text="${farm.contactName}"></td>
								<td th:text="${farm.numSandach}"></td>
								<td><a th:href="@{/view-farm/{id}(id=${farm.id})}"><span th:uk-tooltip="#{common.functions.details}"
										data-uk-icon="icon: table" class="uk-margin-small-right"></span></a></td>
								<td><a th:href="@{/edit-farm/{id}(id=${farm.id})}"><span th:uk-tooltip="#{common.functions.edit}"
										data-uk-icon="icon: pencil" class="uk-margin-small-right"></span></a></td>
								<td><a data-target="#modal-delete1" th:attr="data-target='#modal-delete'+${farm.id}" uk-toggle><span
										th:uk-tooltip="#{common.functions.delete}" data-uk-icon="icon: trash" class="uk-margin-small-right "></span></a></td>
								<div th:id="modal-delete+${farm.id}" uk-modal>
									<div class="uk-modal-dialog">
										<button class="uk-modal-close-default" type="button" uk-close></button>
										<div class="uk-modal-body">
											<h4 th:text="#{farms.delete.confirmation}" />
											<p th:text="#{farms.table.farmId} +': ' + ${farm.id}"></p>
											<p th:text="#{farms.table.clientName} +': ' + ${farm.clientId.name}"></p>
										</div>
										<div class="uk-modal-footer uk-text-right">
											<button class="uk-button uk-button-default uk-modal-close" type="button" th:text="#{common.functions.cancel}"></button>
											<a th:href="@{/delete-farm/{id}(id=${farm.id})}"><button class="uk-button uk-button-primary"
													type="button" th:text="#{common.functions.delete}"></button></a>
										</div>
									</div>
								</div>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div id="modal-form-view" class="uk-modal-container" uk-modal>
				<div class="uk-modal-dialog uk-modal-body">
					<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
					<form id="newFarmForm" class="uk-form-horizontal" method="post" action="#" th:object="${editFarm}">
						<div class="uk-modal-header">
							<h2 class="uk-modal-title" th:text="#{farms.view.title}"></h2>
						</div>
						<div class="uk-modal-body">
							<div class="uk-margin">
								<label class="uk-form-label" th:text="#{farms.table.farmId}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="farmId" th:field="*{id}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{farms.table.clientId}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="clientId" th:field="*{clientId.clientCode}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{farms.table.clientName}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="clientName" th:field="*{clientId.name}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{farms.table.address}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="address" th:field="*{address}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{farms.table.province}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="province" th:field="*{province}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{farms.table.city}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="city" th:field="*{city}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{farms.table.postalCode}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="postalCode" th:field="*{postalCode}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{farms.table.country}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="country" th:field="*{country}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{farms.table.latitude}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="latitude" th:field="*{latitude}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{farms.table.longitude}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="longitude" th:field="*{longitude}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{farms.table.contactPhone}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="contactPhone" th:field="*{contactPhone}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{farms.table.contactName}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="contactName" th:field="*{contactName}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{farms.table.noSandach}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="numSandach" th:field="*{numSandach}" type="text" disabled>
								</div>
							</div>
						</div>
						<div class="uk-position-relative uk-margin-medium">
							<div class="uk-position-top-left uk-margin-small-top">
								<ul class="uk-iconnav">
									<li><a style="text-decoration: none; color: #1e87f0;" th:href="'/print-farm/'+${id}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
											th:uk-tooltip="#{common.functions.print}" data-uk-icon="icon: print; ratio: 1.4"
											class="uk-margin-small-right"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="uk-modal-footer uk-text-right">
							<button class="uk-button uk-button-primary uk-modal-close" type="button" th:text="#{common.functions.back}"></button>
						</div>
					</form>
				</div>
			</div>

			<script type="text/javascript">
				$(document).ready(function() {
					$('form').each(function(){
						$(this).validate({					
							debug: false,
							rules : {
								clientList : {
									required : true
								},
								address : {
									required : true
								},
								province : {
									required : true
								},
								city : {
									required : true
								},
								postalCode : {
									required : true,
									digits: true
								},
								country : {
									required : true
								},
								latitude : {
									required : true,
									number: true
								},
								longitude : {
									required : true,
									number: true
								},
								contactPhone : {
									required : true
								},
								contactName : {
									required : true
								},
								numSandach : {
									required : true
								}
							},
							errorPlacement : function(error, element) {
								offset = element.offset();
								error.insertBefore(element)
								error.addClass('uk-form-danger');
							},
							errorClass : 'uk-form-danger',
							submitHandler : function(form) { // for demo
								return true;
							}
						});
					});

					$('#submit-new-button').on('click', function() {
						$('#newFarmForm').valid();
					});
					$('#submit-edit-button').on('click', function() {
						$('#editFarmForm').valid();
					});
				});
			</script>

			<div id="modal-form" class="uk-modal-container" uk-modal>
				<div class="uk-modal-dialog uk-modal-body">
					<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
					<form id="newFarmForm" class="uk-form-horizontal" method="post" action="#" th:action="@{/add-farm}"
						th:object="${newFarm}">
						<div class="uk-modal-header">
							<h2 class="uk-modal-title" th:text="#{farms.addNew.title}"></h2>
						</div>
						<div class="uk-modal-body">

							<div class="uk-margin">
								<label class="uk-form-label" th:text="#{farms.addNew.client}"></label>
								<div class="uk-form-controls">
									<select class="uk-select uk-form-small" id="clients-list" name="clientList" th:field="*{clientId}">
										<option value="" th:text="#{farms.addNew.selectClient}"></option>
										<option th:each="client : ${clients}" th:value="${client.clientCode}" th:text="${client.name}"></option>
									</select>
								</div>

								<label class="uk-form-label" th:text="#{farms.table.address}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="address" th:field="*{address}" type="text"
										placeholder="Saavedra Fajardo 7...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.province}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="province" th:field="*{province}" type="text"
										placeholder="Madrid...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.city}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="city" th:field="*{city}" type="text" placeholder="Madrid...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.postalCode}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="postalCode" th:field="*{postalCode}" type="text"
										placeholder="28011...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.country}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="country" th:field="*{country}" type="text" placeholder="ES...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.latitude}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="latitude" th:field="*{latitude}" type="text" placeholder="40,1563">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.longitude}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="longitude" th:field="*{longitude}" type="text" placeholder="3,5495">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.contactPhone}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="contactPhone" th:field="*{contactPhone}" type="text"
										placeholder="686574620...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.contactName}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="contactName" th:field="*{contactName}" type="text"
										placeholder="Papi...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.noSandach}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="numSandach" th:field="*{numSandach}" type="text"
										placeholder="12345678953313546...">
								</div>

							</div>

						</div>
						<div class="uk-modal-footer uk-text-right">
							<button class="uk-button uk-button-default uk-modal-close" type="button" th:text="#{common.functions.cancel}"></button>
							<button class="uk-button uk-button-primary" id="submit-new-button" type="submit"
								th:text="#{common.functions.create}"></button>
						</div>
					</form>
				</div>
			</div>

			<div id="modal-form-edit" class="uk-modal-container" uk-modal>
				<div class="uk-modal-dialog uk-modal-body">
					<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
					<form id="editFarmForm" class="uk-form-horizontal" method="post" action="#" th:action="@{/update-farm}"
						th:object="${editFarm}">
						<div class="uk-modal-header">
							<h2 class="uk-modal-title" th:text="#{farms.edit.title}"></h2>
						</div>
						<div class="uk-modal-body">

							<div class="uk-margin">
								<label class="uk-form-label" th:text="#{farms.addNew.client}"></label>
								<div class="uk-form-controls">
									<select class="uk-select uk-form-small" id="clients-list" name="clientList" th:field="*{clientId}">
										<option value="" th:text="#{farms.addNew.selectClient}"></option>
										<option th:each="client : ${clients}" th:value="${client.clientCode}" th:text="${client.name}"></option>
									</select>
								</div>
								<input type="hidden" name="farmId" th:field="*{id}" /> <label class="uk-form-label"
									th:text="#{farms.table.address}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="address" th:field="*{address}" type="text"
										placeholder="Saavedra Fajardo 7...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.province}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="province" th:field="*{province}" type="text"
										placeholder="Madrid...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.city}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="city" th:field="*{city}" type="text" placeholder="Madrid...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.postalCode}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="postalCode" th:field="*{postalCode}" type="text"
										placeholder="28011...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.country}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="country" th:field="*{country}" type="text" placeholder="ES...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.latitude}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="latitude" th:field="*{latitude}" type="text" placeholder="40,1563">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.longitude}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="longitude" th:field="*{longitude}" type="text" placeholder="3,5495">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.contactPhone}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="contactPhone" th:field="*{contactPhone}" type="text"
										placeholder="686574620...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.contactName}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="contactName" th:field="*{contactName}" type="text"
										placeholder="Papi...">
								</div>
								<label class="uk-form-label" th:text="#{farms.table.noSandach}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="numSandach" th:field="*{numSandach}" type="text"
										placeholder="12345678953313546...">
								</div>

							</div>

						</div>
						<div class="uk-modal-footer uk-text-right">
							<button class="uk-button uk-button-default uk-modal-close" type="button" th:text="#{common.functions.cancel}"></button>
							<button class="uk-button uk-button-primary" id="submit-edit-button" type="submit"
								th:text="#{common.functions.edit}"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /CONTENT -->

		<!--FOOTER-->
		<div th:replace="fragments/footer :: footer"></div>
		<!--/FOOTER-->

		<input type="hidden" id="status" name="status" th:value="${status}" /> <input type="hidden" id="errorDesc"
			name="errorDesc" th:value="${errorDesc}" />
	</div>

</body>
</html>
