<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="#{clients.header.title}"></title>
<link rel="icon" href="/static/images/favicon.ico/">
<!-- CSS FILES -->
<link rel="stylesheet" data-th-href="@{/webjars/uikit/3.1.5/dist/css/uikit.min.css}" />
<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
<!-- JS FILES -->
<script data-th-src="@{/webjars/uikit/3.1.5/dist/js/uikit.min.js}"></script>
<script data-th-src="@{/webjars/uikit/3.1.5/dist/js/uikit-icons.min.js}"></script>
<script data-th-src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script data-th-src="@{/webjars/jquery-validation/1.17.0-1/jquery.validate.min.js}"></script>
<script src="https://unpkg.com/octicons-html@1/dist/octicons-html.min.js"></script>
</head>

<script th:inline="javascript">
/*<![CDATA[*/
    var createdMessage = [[#{clients.alarm.created}]];
    var updatedMessage = [[#{clients.alarm.updated}]];
    var deletedMessage = [[#{clients.alarm.deleted}]];
    var emptyMessage = [[#{clients.alarm.empty}]];
/*]]>*/
</script>
<script type="text/javascript">
	$(document)
		.ready(
		    function() {
		        //window.history.pushState({}, document.title, "/clients");
		        var statusResponse = $("#statusResponse").val();
		        var errorDesc = $("#errorDesc").val();
		        console.log("statusResponse: " + statusResponse);
		        console.log("error: " + errorDesc);
		        if (statusResponse == "edit") {
		            UIkit.modal('#modal-form-edit', {
		                modal: false,
		                keyboard: false,
		                bgclose: false,
		                center: true
		            }).show();
		        }
		        if (statusResponse == "view") {
		            UIkit.modal('#modal-form-view', {
		                modal: false,
		                keyboard: false,
		                bgclose: false,
		                center: true
		            }).show();
		        } else if (statusResponse == "created") {
		            $("#table-data")
		                .before(
		                    '<div id="item-created" class="uk-alert-success" uk-alert><a class="uk-alert-close" uk-close></a><p>' + createdMessage + '</p></div>');
		        } else if (statusResponse == "updated") {
		            $("#table-data")
		                .before(
		                    '<div id="item-updated" class="uk-alert-success" uk-alert><a class="uk-alert-close" uk-close></a><p>' + updatedMessage + '</p></div>');
		        } else if (statusResponse == "deleted") {
		            $("#table-data")
		                .before(
		                    '<div id="item-deleted" class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>' + deletedMessage + '</p></div>');
		        } else if (statusResponse == "empty") {
		            $("#table-data")
		                .before(
		                    '<div id="item-empty" class="uk-alert-primary" uk-alert><a class="uk-alert-close" uk-close></a><p>' + emptyMessage + '</p></div>');
		        } else if (statusResponse == "error") {
		            $("#table-data")
		                .before(
		                    '<div id="item-deleted" class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>ERROR: ' + errorDesc + '</p></div>');
		        }
		    });
</script>

<body>

	<!--HEADER-->
	<div th:replace="fragments/header :: header"></div>
	<!--/HEADER-->
	<!-- LEFT BAR -->
	<div th:replace="fragments/left-bar :: left-bar"></div>
	<!-- /LEFT BAR -->
	<!-- CONTENT -->
	<div id="content" data-uk-height-viewport="expand: true">
		<div class="uk-container uk-container-expand">
			<div>
				<div id="table-data">
					<h3 class="uk-heading-line uk-text-bold">
						<span th:text="#{clients.title}"></span>
					</h3>
					<p>
						<a class="uk-button uk-button-default" href="#modal-form" uk-toggle><span data-uk-icon="icon: plus-circle"
							class="uk-margin-small-right"></span><span th:text="#{clients.addNew}"></span></a>
					</p>
					<table id="clients-table" class="uk-table uk-table-hover uk-table-striped uk-table-small">
						<thead>
							<tr>
								<th th:text="#{clients.table.id}"></th>
								<th th:text="#{clients.table.name}"></th>
								<th th:text="#{clients.table.CIF}"></th>
								<th th:text="#{clients.table.repName}"></th>
								<th th:text="#{clients.table.repSurname1}"></th>
								<th th:text="#{clients.table.DNI}"></th>
								<th th:text="#{clients.table.dateAgreementBegin}"></th>
								<th th:text="#{clients.table.dateAgreementEnd}"></th>
								<th th:text="#{clients.table.fiscalAddress}"></th>
								<th th:text="#{clients.table.unit}"></th>
								<th th:text="#{clients.table.province}"></th>
								<th th:text="#{clients.table.city}"></th>
								<th th:text="#{clients.table.postalCode}"></th>
								<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
								<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
								<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="client : ${clients}">
								<td th:text="${client.id}"></td>
								<td th:text="${client.name}"></td>
								<td th:text="${client.CIF}"></td>
								<td th:text="${client.repName}"></td>
								<td th:text="${client.repSurname1}"></td>
								<td th:text="${client.DNI}"></td>
								<td th:text="${#dates.format(client.dateAgreementBegin, 'dd-MM-yyyy')}"></td>
								<td th:text="${#dates.format(client.dateAgreementEnd, 'dd-MM-yyyy')}"></td>
								<td th:text="${client.fiscalAddress}"></td>
								<td th:text="${client.unit}"></td>
								<td th:text="${client.province}"></td>
								<td th:text="${client.city}"></td>
								<td th:text="${client.postalCode}"></td>
								<td><a th:href="@{/view-client/{id}(id=${client.id})}"><span
										th:uk-tooltip="#{common.functions.details}" data-uk-icon="icon: table" class="uk-margin-small-right"></span></a></td>
								<td><a th:href="@{/edit-client/{id}(id=${client.id})}"><span th:uk-tooltip="#{common.functions.edit}"
										data-uk-icon="icon: pencil" class="uk-margin-small-right"></span></a></td>
								<td><a data-target="#modal-delete" th:attr="data-target='#modal-delete'+${client.id}" uk-toggle><span
										th:uk-tooltip="#{common.functions.delete}" data-uk-icon="icon: trash" class="uk-margin-small-right "></span></a></td>
								<div th:id="modal-delete+${client.id}" uk-modal>
									<div class="uk-modal-dialog">
										<button class="uk-modal-close-default" type="button" uk-close></button>
										<div class="uk-modal-body">
											<h4 th:text="#{clients.delete.confirmation}" />
											<p th:text="#{clients.table.id} +': ' + ${client.id}"></p>
											<p th:text="#{clients.table.name} +': ' + ${client.name}"></p>
										</div>
										<div class="uk-modal-footer uk-text-right">
											<button class="uk-button uk-button-default uk-modal-close" type="button" th:text="#{common.functions.cancel}"></button>
											<a th:href="@{/delete-client/{id}(id=${client.id})}"><button class="uk-button uk-button-primary"
													type="button" th:text="#{common.functions.delete}"></button></a>
										</div>
									</div>
								</div>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div id="modal-form-view" class="uk-modal-container" uk-modal>
				<div class="uk-modal-dialog uk-modal-body">
					<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
					<form id="newClientForm" class="uk-form-horizontal" method="post" action="#" th:object="${editClient}">
						<div class="uk-modal-header">
							<h2 class="uk-modal-title" th:text="#{clients.view.title}"></h2>
						</div>
						<div class="uk-modal-body">
							<div class="uk-margin">
								<label class="uk-form-label" th:text="#{clients.table.id}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="clientId" th:field="*{id}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.name}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="clientName" th:field="*{name}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.CIF}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="cif" th:field="*{CIF}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.repName}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="repName" th:field="*{repName}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.repSurname1}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="repSurname1" th:field="*{repSurname1}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.repSurname2}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="repSurname2" th:field="*{repSurname2}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.DNI}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="DNI" th:field="*{DNI}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.bankAccount}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="bankAccount" th:field="*{bankAccount}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.dateAgreementBegin}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="dateAgreementBegin" th:field="*{dateAgreementBegin}" type="text"
										disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.agreementDuration}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="agreementDuration" th:field="*{agreementDuration}" type="text"
										disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.dateAgreementEnd}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="dateAgreementEnd" th:field="*{dateAgreementEnd}" type="text"
										disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.streetType}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="streetType" th:field="*{streetType}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.fiscalAddress}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="fiscalAddress" th:field="*{fiscalAddress}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.unit}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="unit" th:field="*{unit}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.province}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="province" th:field="*{province}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.city}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="city" th:field="*{city}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.postalCode}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="postalCode" th:field="*{postalCode}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.country}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="country" th:field="*{country}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.numHydros}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="numHydros" th:field="*{numHydros}" type="text" disabled>
								</div>
								<label class="uk-form-label" th:text="#{clients.table.numFarms}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="numFarms" th:field="*{numFarms}" type="text" disabled>
								</div>
							</div>
						</div>
						<div class="uk-position-relative uk-margin-medium">
							<div class="uk-position-top-left uk-margin-small-top">
								<ul class="uk-iconnav">
									<li><a style="text-decoration: none; color: #1e87f0;" th:href="'/print-client/'+${id}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
											th:uk-tooltip="#{common.functions.print}" data-uk-icon="icon: print; ratio: 1.4"
											class="uk-margin-small-right"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="uk-modal-footer uk-text-right">
							<button class="uk-button uk-button-primary uk-modal-close" type="button" th:text="#{common.functions.back}"></button>
						</div>
					</form>
				</div>
			</div>

			<script type="text/javascript">
				$(document).ready(function() {
					$('form').each(function(){
						$(this).validate({					
							debug: false,
							rules : {
								name : {
									required : true
								},
								cif : {
									required : true
								},
								repName : {
									required : true
								},
								repSurname1 : {
									required : true
								},
								repSurname2 : {
									required : false
								},
								DNI : {
									required : true
								},
								bankAccount : {
									required : false
								},
								dateAgreementBegin : {
									required : true
								},
								agreementDuration : {
									required : true
								},
								dateAgreementEnd : {
									required : true
								},
								streetType : {
									required : false
								},
								fiscalAddress : {
									required : true
								},
								unit : {
									required : true
								},
								province : {
									required : true
								},
								city : {
									required : true
								},
								country : {
									required : false
								},
								postalCode : {
									required : true,
									digits: true
								}
							},
							errorPlacement : function(error, element) {
								offset = element.offset();
								error.insertBefore(element)
								error.addClass('uk-form-danger');
							},
							errorClass : 'uk-form-danger',
							submitHandler : function(form) { // for demo
								return true;
							}
						});
					});
		
					$('#submit-new-button').on('click', function() {
						$('#newClientForm').valid();
					});
					$('#submit-edit-button').on('click', function() {
						$('#editClientForm').valid();
					});

				});
			</script>

			<div id="modal-form" class="uk-modal-container" uk-modal>
				<div class="uk-modal-dialog uk-modal-body">
					<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
					<form id="newClientForm" class="uk-form-horizontal" method="post" action="#" th:action="@{/add-client}"
						th:object="${newClient}">
						<div class="uk-modal-header">
							<h2 class="uk-modal-title" th:text="#{clients.addNew.title}"></h2>
						</div>
						<div class="uk-modal-body">

							<div class="uk-margin">
								<label class="uk-form-label" th:text="#{clients.table.name}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="clientName" th:field="*{name}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.CIF}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="CIF" th:field="*{CIF}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.repName}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="repName" th:field="*{repName}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.repSurname1}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="repSurname1" th:field="*{repSurname1}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.repSurname2}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="repSurname2" th:field="*{repSurname2}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.DNI}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="DNI" th:field="*{DNI}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.bankAccount}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="bankAccount" th:field="*{bankAccount}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.dateAgreementBegin}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="dateAgreementBegin" th:field="*{dateAgreementBegin}" type="date">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.agreementDuration}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="agreementDuration" th:field="*{agreementDuration}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.dateAgreementEnd}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="dateAgreementEnd" th:field="*{dateAgreementEnd}" type="date">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.streetType}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="streetType" th:field="*{streetType}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.fiscalAddress}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="fiscalAddress" th:field="*{fiscalAddress}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.unit}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="unit" th:field="*{unit}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.province}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="province" th:field="*{province}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.city}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="city" th:field="*{city}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.postalCode}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="postalCode" th:field="*{postalCode}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.country}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="country" th:field="*{country}" type="text">
								</div>
							</div>

						</div>
						<div class="uk-modal-footer uk-text-right">
							<button class="uk-button uk-button-default uk-modal-close" type="button" th:text="#{common.functions.cancel}"></button>
							<button class="uk-button uk-button-primary" id="submit-new-button" type="submit"
								th:text="#{common.functions.create}"></button>
						</div>
					</form>
				</div>
			</div>

			<div id="modal-form-edit" class="uk-modal-container" uk-modal>
				<div class="uk-modal-dialog uk-modal-body">
					<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
					<form id="editClientForm" class="uk-form-horizontal" method="post" action="#" th:action="@{/update-client}"
						th:object="${editClient}">
						<div class="uk-modal-header">
							<h2 class="uk-modal-title" th:text="#{clients.edit.title}"></h2>
						</div>
						<div class="uk-modal-body">
							<div class="uk-margin">
								<input type="hidden" name="clientId" th:field="*{id}" /> <label class="uk-form-label"
									th:text="#{clients.table.name}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="clientName" th:field="*{name}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.CIF}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="CIF" th:field="*{CIF}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.repName}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="repName" th:field="*{repName}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.repSurname1}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="repSurname1" th:field="*{repSurname1}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.repSurname2}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="repSurname2" th:field="*{repSurname2}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.DNI}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="DNI" th:field="*{DNI}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.bankAccount}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="bankAccount" th:field="*{bankAccount}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.dateAgreementBegin}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="dateAgreementBegin" th:field="*{dateAgreementBegin}" type="date">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.agreementDuration}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="agreementDuration" th:field="*{agreementDuration}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.dateAgreementEnd}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="dateAgreementEnd" th:field="*{dateAgreementEnd}" type="date">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.streetType}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="streetType" th:field="*{streetType}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.fiscalAddress}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="fiscalAddress" th:field="*{fiscalAddress}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.unit}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="unit" th:field="*{unit}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.province}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="province" th:field="*{province}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.city}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="city" th:field="*{city}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.postalCode}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="postalCode" th:field="*{postalCode}" type="text">
								</div>
								<label class="uk-form-label" th:text="#{clients.table.country}"></label>
								<div class="uk-form-controls">
									<input class="uk-input uk-form-small" name="country" th:field="*{country}" type="text">
								</div>
							</div>
						</div>
						<div class="uk-modal-footer uk-text-right">
							<button class="uk-button uk-button-default uk-modal-close" type="button" th:text="#{common.functions.cancel}"></button>
							<button class="uk-button uk-button-primary" id="submit-edit-button" type="submit"
								th:text="#{common.functions.edit}"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /CONTENT -->

		<!--FOOTER-->
		<div th:replace="fragments/footer :: footer"></div>
		<!--/FOOTER-->

		<input type="hidden" id="statusResponse" name="statusResponse" th:value="${statusResponse}" /> <input type="hidden" id="errorDesc"
			name="errorDesc" th:value="${errorDesc}" />
	</div>

</body>
</html>
