<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS FILES -->
<link rel="stylesheet" data-th-href="@{/webjars/uikit/3.1.5/dist/css/uikit.min.css}" />
<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
</head>
<body>

	<!--FOOTER-->
	<footer class="uk-section uk-section-small uk-text-center" th:fragment="footer">
		<hr>
		<p class="uk-text-small uk-text-center">20155 Biosecuritas&reg;</p>
	</footer>

	<!--/FOOTER-->

	<!-- JS FILES -->
	<script data-th-src="@{/webjars/uikit/3.1.5/dist/js/uikit.min.js}"></script>
	<script data-th-src="@{/webjars/uikit/3.1.5/dist/js/uikit-icons.min.js}"></script>
	<script data-th-src="@{/webjars/chart.js/2.8.0/dist/Chart.min.js}"></script>
	<script src="/static/js/chartScripts.js"></script>
</body>
</html>
